@import url('../node_modules/ed-grid/src/css/ed-grid.min.css');

.fab {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
}

.fab-hover {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
	width: 40px;
	height: 40px;
}

.top-alert {
	z-index: 99999 !important;
}
#root > div > div > div > main > div:nth-child(3) > div > div.MuiDataGrid-main > div:nth-child(4),
#root > div > div > div > main > div:nth-child(3) > div > div.MuiDataGrid-main > div:nth-child(3) {
	display: none !important;
}
