@import url('../node_modules/ed-grid/src/css/ed-grid.min.css');

.fab {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
}

.fab-hover {
	position: fixed !important;
	bottom: 25px;
	right: 15px;
	width: 40px;
	height: 40px;
}

.top-alert {
	z-index: 99999 !important;
}
#root > div > div > div > main > div:nth-child(3) > div > div.MuiDataGrid-main > div:nth-child(4),
#root > div > div > div > main > div:nth-child(3) > div > div.MuiDataGrid-main > div:nth-child(3) {
	display: none !important;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
	border-radius: 60pt;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
